nltk==3.4
implicit==0.3.8
toolz==0.9.0
fastcache==1.0.2
multiprocess==0.70.6.1
OSQP==0.5.0
ECOS==2.0.7.post1
SCS==2.0.2
cvxpy==1.0.11
jieba==0.39
astcheck==0.2.5
astsearch==0.1.3
opencv-python==3.4.3.18
plyfile==0.7
plotly==3.4.2
open3d-python==0.4.0.0
pptk==0.1.0
