tensorflow==2.3.1
torch==1.6.0
torchvision==0.7.0
pyspark==3.0.0
findspark==1.4.2
slackclient==2.8.2
folium==0.11.0
lxml==4.5.2
anytree==2.8.0
Flask-Caching==1.9.0
seaborn==0.10.1
Pillow==8.1.1
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Cython==0.29.21
