nltk==3.5
implicit==0.4.2
toolz==0.10.0
fastcache==1.1.0
multiprocess==0.70.10
osqp==0.6.1
ecos==2.0.7.post1
scs==2.1.2
cvxpy==1.1.5
jieba==0.42.1
astcheck==0.2.5
astsearch==0.2.0
opencv-python==4.4.0.42
plyfile==0.7.2
plotly==4.9.0
open3d-python==0.7.0.0
pptk==0.1.0
